---
import ArticleCard from "../components/article-card.astro";
import BaseHtml from "../layout/base-html.astro";
---

<BaseHtml title="astro-iconを使った記事カード">
  <div class="CardLayout">
    <ArticleCard />
    <ArticleCard />
    <ArticleCard />
    <ArticleCard />
    <ArticleCard />
  </div>
</BaseHtml>

<style>
  body {
    padding: 0;
  }

  .CardLayout {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 2em;
  }

  /** カードが1つだけの場合、画面幅いっぱいに広がらないようにする */
  .CardLayout :global(> *:only-child) {
    max-width: 300px;
  }
</style>
